.title{
	text-align: center;
	margin-bottom: 30px;
}
.table__cell{
	vertical-align: middle !important;
}
.table__cell_fio{
	width: 100px;
}
.table__cell_address{
	width: 120px;
}
.table__cell_comment{
	width: 180px;
}
.table__cell_status{
	width: 100px;
}

.table__cell_off-type{
	width: 200px;
}
.table__cell_off-comment{

}
.table__cell_off-result{
	width: 50px;
}
.table__cell_off-price{
	width: 50px;
}

.table__cell_surname{
	width: 85px;
}
.table__cell_result{
	width: 90px;
}
.table__cell_duration{
	width: 100px;
}
.table__cell_comment{
	
}
.table__cell_date{
	width: 100px;
}

.overlay{
	width: 70% !important;
	left: 450px !important;
}
.value{
	padding-top: 5px;
}
.control-group{
	margin-bottom: 0px !important;
}

.call__body:first-child{
	padding-bottom: 10px;
}
.sidebar-container{
	padding-top: 35px;
	position: absolute;
	width: inherit;

}
.mysidebar{
	position: absolute;
	right: 0px;
	width: 200px;
}
.modal__table-container{
	padding:0 20px 0;
	margin-top: 30px !important;
	width: 80%;
	margin: 0 auto;
	border: 1px solid #cccccc;
	border-radius: 10px;
}
.modal-table__title{
	text-align: center;
	text-decoration: underline;
}
